.cards{
    height: 200px;
    width: 250px;
    margin: 10px 0 40px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.cards .imgdiv{
    height: 100%;
    width: 100%;
    position: absolute;
}

.cards img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.cards .overlay{
    height: 100%;
    width: 140%;
    background-color: rgba(0, 0, 0, 0.511);
    position: absolute;
    top: 100%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    transition: all 0.5s;
}

.cards .overlay .content{
    position: relative;
    height: 100%;
    display: flex;
}

.cards .overlay .content .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cards .overlay .content .container p{
    letter-spacing: 0.3px;
}

.cards .overlay .content .container button{
    background: linear-gradient(147deg, rgb(213, 74, 255) 13.36%, rgb(255, 86, 74) 59.90%);
    color: white;
    border: none;
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    transform: translateY(50px);
    transition: all 0.5s;
}

.cards .overlay .content .container button:hover{
    transform: translateY(47px);
}

.cards:hover .overlay{
    top: 0;
    animation: ovrlay 0.5s ease-out;
}

.cards:hover .overlay .content{
    animation: opacity 0.8s;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes ovrlay {
    0%{
        border-radius: 100% 100% 0 0;
    }
    50%{
        border-radius: 70% 70% 0 0;
    }
    100%{
        border-radius: 0;
    }
}