@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400&family=David+Libre:wght@400;500;700&family=Inter:wght@300;400;500;600;700&family=Varela+Round&display=swap');

.lmain {
    height: 100%;
    width: 100%;
    position: absolute;
}

.l-submain {
    height: auto;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.292);
    border-radius: 15px;
}

.lmain h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Varela Round';
}

.subl-main {
    display: flex;
}

.llogin-div {
    width: 50%;
}

.limg-div {
    width: 50%;
    height: 100%;
}

.limg-div img {
    height: 100%;
    width: 100%;
}

.llogin-div form {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: 100%;
    justify-content: center;
}

.llogin-div form input {
    border: 1px solid black;
    margin: 10px auto;
    width: 70%;
    border-radius: 50px;
    padding: 10px;
    outline: none;
}

.llogin-div form button {
    width: 70%;
    margin: 30px auto 10px auto;
    border: none;
    color: white;
    padding: 7px;
    background: linear-gradient(147deg, rgb(213, 74, 255) 13.36%, rgb(255, 86, 74) 59.90%);
    border-radius: 50px;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.5s;
    cursor: pointer;
}

.llogin-div form button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.313);
}

.forgot-pass {
    width: 70%;
    margin: 5px auto 0 auto;
    display: flex;
    justify-content: end;
}

.forgot-pass a {
    text-decoration: none;
    color: black;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.lor-div {
    width: 70%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.lline-1,
.lline-2 {
    width: 100%;
    background-color: black;
    height: 0.5px;
}

.lor-div p {
    margin: 0 8px;
}

.lregister {
    width: 70%;
    margin: 10px auto;
}

.lregister a {
    text-decoration: none;
}

.lregister a:hover {
    text-decoration: underline;
}

.lmain-img {
    height: 100%;
    width: 100%;
}

@media (max-width : 650px) {
    .lmain {
        height: 110%;
    }

    .llogin-div {
        /* position: absolute; */
        width: 100%;
    }

    .limg-div {
        position: absolute;
        display: none;
    }

    .subl-main {
        display: block;
        /* position: relative; */
        height: 100%;
        width: 100%;
    }

    .l-submain {
        width: 100vw;
        box-shadow: none;
    }

    .llogin-div form {
        position: relative;
        height: 100%;
        width: 100%;
    }

    /* .lmain-img img {
        position: fixed;
        height: 100%;
        width: 100%;
        opacity: 0.1;
    } */

    .llogin-div form input {
        background: transparent;
    }

    .lmain-img {
        background: url('../images/login.jpg');
        opacity: 0.2;
        position: fixed;
        background-repeat: no-repeat;
    }
}