.mystreakcard-main {
    height: 200px;
    width: 250px;
    background-color: rgba(116, 116, 197, 0.47);
    margin: 20px 26px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.mystreakcard-main .content {
    position: absolute;
}

.mystreakcard-main img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.navigate {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
}