.menu-main .close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.profile .user{
    transform: translateY(50%);
    margin-left: 5px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.322);
}

.menu-main .close button {
    border: none;
    background-color: #e46161;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 10px 0 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: white;
    transform: translate(20%, -50%);
}

.menu-main .close button:hover {
    background-color: #ef4040;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.167);
    margin: 15px 0;
}

.options {
    transform: translateY(40px);
}

.options a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
}

.options div {
    display: flex;
    margin: 14px 10px;
    align-items: center;
    border-radius: 20px;
}

.options .hover:hover {
    background-color: rgba(0, 0, 0, 0.194);
    cursor: pointer;
}

.logout {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    margin: 10px auto;
    width: 100%;
}


.logout a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(237, 71, 71);
    transition: all 0.2s;
}

.logout a:hover {
    transform: translateY(-2px);
}

.logout a p {
    margin-right: 10px;
}