.menu-main .close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.profile .user {
    transform: translateY(50%);
    margin-left: 5px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.322);
}

.menu-main .close button {
    border: none;
    background-color: #e46161;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 10px 0 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translate(20%, -50%);
}

.menu-main .close button:hover {
    background-color: #ef4040;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.167);
    margin: 15px 0;
}

.options {
    transform: translateY(40px);
}

.options a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
}

.options div {
    display: flex;
    margin: 14px 10px;
    align-items: center;
    border-radius: 20px;
}

.options .hover:hover {
    background-color: rgba(0, 0, 0, 0.194);
    cursor: pointer;
}

.logout {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout button {
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(147deg, rgb(213, 74, 255) 13.36%, rgb(255, 86, 74) 59.90%);
    width: 70%;
    cursor: pointer;
}

.hide {
    display: none;
}

@media (max-width : 1080px) {
    .menu-main .close p {
        font-size: 4vw;
    }

    .profile-img {
        width: 10vw;
        height: 10vw;
        margin-right: 2vw;
    }

    .menu-main .close button {
        height: 7vw;
        width: 7vw;
        margin: 3vw 2vw;
        transform: translateY(-10%);
        font-size: 10vw;
        padding: 0;
    }

    .main-main .close button .close-icon {
        height: 100px;
        width: 100px;
        background-color: black;
        padding: 0;
    }

    .options {
        font-size: 5vw;
    }

    .hide {
        display: inline;
    }
}