@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400&family=David+Libre:wght@400;500;700&family=Inter:wght@300;400;500;600;700&family=Varela+Round&display=swap');

.streaks-main{
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding-top: 100px;
    position: relative;
}

.streaks-main h1 {
    text-align: center;
    font-family: 'Varela Round';
    margin: 0 0 40px 0;
    letter-spacing: 0.5px;
    word-spacing: 7px;
}

.streaks{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width : 1080px)
{
    .streaks-main {
        padding-top: 200px;
    }

    .streaks-main h1 
{
    font-size: 5vw;
}
}